<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mapping File</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
 
<body>
      <center>
         <h2>Upload Mapping File</h2>
         <form id="fileUploadForm" method="post" action="uploadFile" enctype="multipart/form-data">
            <table id="fileUploadFormBeanTable" border="0" width="80%">
               <tr>
                  <td>Enterprise ID:</td>
                  <td><input id="enterpriseid" type="text" name="eid" size="65" /></td>
               </tr>
               <tr>
                  <td>Mapping file:</td>
                  <td>
                  		<input id="mappingfile" type="file" name="mapper" size="60" />
                  		<span id="fileUploadErr">Please Upload A File!</span>
                  </td>                  
               </tr>
               <tr>
                  <td colspan="2" align="center"><input id="fileUploadBtn" type="submit" value="Upload" /></td>
               </tr>
            </table>
         </form>
      </center>
   </body>
</html>